@media (min-width: 320px) and (max-width: 425px) { 
    * {
        margin: 0;
        padding: 0;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    header nav ul{
        gap: 5px;
    }

    .main {
        padding: 30px;
    }

    .mainBlock {
        display: flex;
        flex-direction: column;
    }

    .mainBlock_right img {
        height: 300px;
        width: 320px;
    }


    .mainBlock_left__title {
        font-size: 60px;
    }

    .mainBlock_left__list {
        display: none;
    }

    .mainBlock_left__button {
        display: none;
    }


    .professional-level_section_left {
        padding: 30px;
        margin: 0;
    }

    .professional-level_section_left h1 {
        font-size: 20px;
        text-align: center;
    }

    .professional-level_section_left_info_card_list {
        margin-top: 30px;
    }

    .professional-level_section_left_info_card p {
        font-size: 16px;
    }

    .professional-level_section_right img {
        display: none;
    }

    .advantagesWorkingWithMe_section {
        padding: 30px;
    }

    .advantagesWorkingWithMe_section h1 {
        font-size: 20px;
        text-align: center;
    }

    .advantagesWorkingWithMe_section_row {
        display: flex;
        flex-direction: column;
    }

    .advantagesWorkingWithMe_section_table_card {
        width: 100px;
    }

    .advantagesWorkingWithMe_section_table_card h2 {
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .advantagesWorkingWithMe_section_table_card p {
        font-size: 16px;
        width: auto;
    }

    .rigth-bottom h2 {
        width: auto;
    }
}

@media (min-width:768px) and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    header nav ul{
        gap: 10px;
    }

    .main {
        padding: 30px;
    }

    .mainBlock_right img {
        height: 650px;
        width: 700px;
    }


    .mainBlock_left__title {
        font-size: 60px;
    }

    .mainBlock_left__list {
        display: none;
    }

    .mainBlock_left__button {
        display: none;
    }


    .professional-level_section_left {
        padding: 30px;
        margin: 0;
    }

    .professional-level_section_left h1 {
        font-size: 20px;
        text-align: center;
    }

    .professional-level_section_left_info_card_list {
        margin-top: 30px;
    }

    .professional-level_section_left_info_card p {
        font-size: 18px;
    }

    .professional-level_section_right img {
        display: none;
    }

    .advantagesWorkingWithMe_section {
        padding: 30px;
    }

    .advantagesWorkingWithMe_section h1 {
        font-size: 20px;
        text-align: center;
    }

    .advantagesWorkingWithMe_section_row {
        display: flex;
        flex-direction: column;
    }

    .advantagesWorkingWithMe_section_table_card {
        width: 100px;
    }

    .advantagesWorkingWithMe_section_table_card h2 {
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .advantagesWorkingWithMe_section_table_card p {
        font-size: 16px;
        width: auto;
    }

    .rigth-bottom h2 {
        width: auto;
    }
}